<h1>Say#goodbye</h1>
<p>
Find me in app/views/say/goodbye.html.erb
</p>
<p>
I know where you are babe
</p>
<p>
Watch concat: <%= "cow" + "boys" + 10.to_s  %> 
</p>
ANd this: <%= 1.hour.from_now %>
<hr />

<% for file in @files %>
	<ul>
	file name = <%= file %>
	</ul>
<% end %>
